body{
    background-color:#f37f83
}

p{
    color:#fbf0ed;font-family: monospace;font-size: 30px;text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }